:root {
  --gray-100: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --purple-100: #8284fa;
  --purple-500: #5e60ce;

  --red-500: #e25858;

  --blue-100: #4ea8de;
  --blue-500: #1e6f9f;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  autline: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased; // deixa as fontes mais fininhas e bonitas, padroniza entre os navegadores.
  -webkit-appearance: none;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
